.desc{
    max-width: 500px;
}

.box{
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding-left: 18px;
    border-radius: 16px;
}

.bg-contact{
    position: absolute;
}

.bg-feature{
    position: absolute;
    bottom: -100px;
}

.btn-custom-outline{
    background-color: white !important;
    border: 1px solid #BCD0E5;
    transition: 0.3s;
    color: #2F281E !important;
}

.btn-custom-outline:hover {
    background-color:#FF9900 !important;
    color: #fff !important;
    border: 1px solid #FF9900;
}

.btn-custom{
    background-color: #FF9900 !important;
    transition: 0.3s;
    color: #fff !important;
}

.btn-custom:hover {
    background-color:#bb7000 !important;
    color: #fff !important;
}

.link{
    color: #FF9900;
    transition: 0.3s;
}

.link:hover{
    color: #bb7000;
}

.avatar1{
    position: absolute;
    bottom: 8px;
    left: 0px;
}

.avatar2{
    position: absolute;
    bottom: -50px;
    left: 500px;
}

.avatar3{
    position: absolute;
    top: -75px;
    right: 100px;
}

.avatar4{
    position: absolute;
    bottom: 100px;
    right: 0px;
}

.avatar5{
    position: absolute;
    top: -50px;
    left: 100px;
}