@media screen and (max-width: 600px) {

}

@media screen and (max-width: 800px) {
    
.box{
    margin: auto;
    text-align: left;
}

.align{
    text-align: center;
}

.desc{
    margin: auto;
    max-width: 100%;
}

}

@media screen and (max-width: 1199px) {
  

}

@media screen and (max-width: 992px) {
  

}